curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{
  "type": "custom",
  "attributes": {"goal":"Run","previewUrl":""},
  "commandLine": "cd ${current.project.path} 
git commit -am "deploy"  
git push  
curl -X PUT -H "Content-Type: application/json" -d '{"appInfo" : "YOUR_GIT_URL_HERE", "mount" : "/YOUR_MOUNT_POINT_HERE"}' "http://ARANGODB_USER:ARANGODB_PASS@ARANGODB_IP/_db/_system/_admin/foxx/install" 
",
  "name": "Deploy ArangoDb"
}' 'http://10.10.138.133:8080/api/workspace/workspacehx2zxae0u44beypj/command'
