{"type": "custom", "attributes": {"goal":"Run","previewUrl":""},"commandLine": "cd ${current.project.path} \u000d sudo yum install zip -y \u000d cd .. \u000d zip -r service.zip ${current.project.path} \u000d filename=$(curl -u ::arangodb_username:::::arangodb_password:: -X POST http://::arangodb_ip::/_api/upload --data-binary @service.zip) \u000d rm -rf service.zip \u000d filenamecorrect=${filename::-1} \u000d filenamecorrect2=${filenamecorrect:12} \u000dcurl -X PUT -H \u0022Content-Type: application/json\u0022 -d \u0022{ \u0027appInfo\u0027 : \u0022\u0027$filenamecorrect2\u0027\u0022, \u0027mount\u0027 : \u0027/test\u0027 }\u0022 \u0027http://::arangodb_username:::::arangodb_password::@::arangodb_ip::/_db/_system/_admin/foxx/install\u0027","name": "Deploy ArangoDb"}
