{"type": "custom", "attributes": {"goal":"Run","previewUrl":""},"commandLine": "cd ${current.project.path} \n sudo yum install zip -y \n cd .. \n zip -r service.zip ${current.project.path} \n filename=$(curl -u ::arangodb_username:::::arangodb_password:: -X POST http://::arangodb_ip::/_api/upload --data-binary @service.zip) \n rm -rf service.zip \n filenamecorrect=${filename::-1} \n filenamecorrect2=${filenamecorrect:12} \n curl -X PUT -H \u0022Content-Type: application/json\u0022 -d \u0027{ \u0022appInfo\u0022 : \u0027\u0022$filenamecorrect2\u0022\u0027, \u0022mount\u0022 : \u0022/test\u0022 }\u0027 \u0027http://::arangodb_username:::::arangodb_password::@::arangodb_ip::/_db/_system/_admin/foxx/install\u0027","name": "Deploy ArangoDb"}
