ArangoDB:::Fox Microservice:::https://raw.githubusercontent.com/Farleon/ChePluginConstants/master/arangodb_foxx/config
ArangoDB:::Java Project:::https://raw.githubusercontent.com/Farleon/ChePluginConstants/master/arangodb_java/config
Python:::Flask:::https://raw.githubusercontent.com/Farleon/ChePluginConstants/master/python_flask/config
Spark:::Java Project:::https://raw.githubusercontent.com/Farleon/ChePluginConstants/master/spark_java/config
