{"type": "custom", "attributes": {"goal":"Run","previewUrl":""},"commandLine": "source ~/.bashrc \n cd ${current.project.path}/proj \n mvn package -B \n cd target \n juju scp $(ls|grep *-dependencies.jar) ::jujumachine_ubuntu:::::deploylocation::\$(ls|grep *-dependencies.jar) \n juju ssh ubuntu-devenv/0 \u0022 cd ::deploylocation::;java -jar $(ls|grep *-dependencies.jar)\u0022","name": "Deploy ArangoDB App"}
{"type": "custom", "attributes": {"goal":"Run","previewUrl":""},"commandLine": "wget https://launchpad.net/juju/2.3/2.3.5/+download/juju-2.3.5-centos7.tar.gz && tar xzvf $(ls juju*.tar.gz) && rm $(ls juju*.tar.gz) && echo \u0027export PATH=\u0022\u0027$PWD\u0027/juju-bin:$PATH\u0022\u0027 >> ~/.bashrc && source ~/.bashrc && echo "    password: peter1379" >> ~/.local/share/juju/accounts.yaml && juju status","name": "InstallJuju"}
